div label {
	display: block;
	margin-bottom: 10px;
}
div input#clear-button {
	margin-top: 10px;
	display: block;
}
div input#convert-button {
	margin-top: 10px;
	display: block;
}

.mystyle {
	color: red;
}
.mystyle2 {
	color: blue;
}
.mystyle3 {
	color: green;
}

div#converted {

	font-size: 26px;
	border: 3px solid black;
	margin: 7px;
	width: 5%;
	height: 28px;
	padding: 2px;
}


